:root {
    --slide-selected: #ff7c00;
    --slide-selected-oposit: #fff;
    /** https://flatuicolors.com/palette/de **/
}

.presentation {
    flex: 1 0 100%;
}

.presentation .item {
    border-radius: 13px;
    margin: 3px 3px 23px 3px;
    overflow: hidden;
    border: 3px solid transparent;
}

.presentation .item.disabled {
    opacity: 0.25;
}

.presentation .item.selected,
.presentation .item.selected .cont {
    border-color: var(--slide-selected) !important;
}

.presentation .item .cont {
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid gray;
}

.presentation .item .text {
    display: none;
}

.presentation .item.has_text .thumb {
    display: none;
}

.presentation .item.has_text .text {
    display: block;
}

.presentation .item .text {
    padding: 3rem 1rem;
}

.presentation .item .label {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: gray;
    padding: 4px;
}

.presentation .item .label span {
    padding: 0px 4px;
}

.presentation .item .label .index {
    font-weight: bold;
}

.presentation .item .label .slide_label {
    margin-left: auto;
}