.presentation {}

.presentation .item {
    margin: 2px;
    margin-bottom: 2rem;
    border: 1px solid gray;
}

.presentation .item.disabled {
    opacity: 0.25;
}

.presentation .item.selected {
    border-color: var(--selected);
}

.presentation .item .text {
    display: none;
}

.presentation .item.has_text .thumb {
    display: none;
}

.presentation .item.has_text .text {
    display: block;
}

.presentation .item .text {
    padding: 3rem 1rem;
}

.presentation .item .label {
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: gray;
    padding: 4px;
}
.presentation .item .label span{
    padding: 0px 4px;
}
.presentation .item .label .index{
    font-weight: bold;
}
.presentation .item .label .slide_label {
    margin-left: auto;
}