:root {
    --slide-selected: #ff7c00;
    --slide-selected-oposit: #fff;
    /** https://flatuicolors.com/palette/de **/
}

.presentation {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.presentation .item {
    display: flex;
    cursor: pointer;
    border-radius: 13px;
    overflow: hidden;
    border: 3px solid transparent;
    flex-basis: 100%;
}

.presentation .item.disabled {
    opacity: 0.25;
}

.presentation .item .cont {
    flex: 1;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid gray;
}

.presentation .item .cont .content {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.presentation .item .cont .content .text {
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    background-image: repeating-conic-gradient(#090909 0 25%, #232323 25% 50%);
    background-size: 18px 18px;
    background-color: #222222;
}

.presentation .item .cont .content .text .box {
    border: 1px solid #444;
    padding: 0.5rem 0.7rem;
    margin: 0.1rem 0;
    border-radius: 0.2rem;
}

.presentation .item .cont .content .thumb {
    flex: 1;
    display: none;
}

.presentation .item.no_text .cont .content .thumb {
    display: flex;
}

.presentation .item.no_text .cont .content .text {
    display: none;
}

.presentation .item.long_text {
    flex-basis: 100% !important;
}

.presentation .item .label_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: gray;
}

.presentation .item .label {
    flex: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 4px 0.5rem;
}

.presentation .item .label_cont .label span {
    padding: 0px 4px;
}

.presentation .item .label_cont .label .index {
    font-weight: bold;
}

.presentation .item .label_cont .label .slide_label {
    margin-left: auto;
}

.presentation .item .label_cont .slide_action {
    margin: 0.2rem 0.4rem;
    padding: 0.2rem;
}

.presentation .item.no_text .label_cont .slide_action.swap {
    display: none;
}

.presentation .item.show_thumb .content .text {
    display: none;
}

.presentation .item.show_thumb .content .thumb {
    display: block;
}

.presentation .item.bright_color .label_cont{
    color: black;
}

.presentation .item.selected {
    border-color: var(--slide-selected) !important;
}

.presentation .item.selected.cleared {
    border-color: var(--primary) !important;
}

@media screen and (min-width: 800px) {

    .presentation .item {
        flex-basis: 50%;
    }

}


@media screen and (min-width: 1200px) {

    .presentation .item {
        flex-basis: 33.332%;
    }

    .presentation .item.has_text .thumb {
        display: block;
    }

}

@media screen and (min-width: 1919px) {

    .presentation .item {
        flex-basis: 25%;
    }

}